.post-review-button {
  display: flex;
}

.btn-post-review,
.btn-post-review:hover,
.btn-post-review.active,
.btn-post-review.disable {
  background: #ffc700;
  border-radius: 4px;
  height: 50px;
  width: 280px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.btn-post-review p {
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  justify-content: center;
  color: #000000;
}

@media (min-width: 576px) {
  .btn-post-review,
  .btn-post-review:hover,
  .btn-post-review.active,
  .btn-post-review.disable {
    width: calc(calc(100vw) - 80px);
  }

  .btn-post-review p {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .btn-post-review,
  .btn-post-review:hover,
  .btn-post-review.active,
  .btn-post-review.disable {
    width: calc(calc(100vw) - 160px);
  }

  .btn-post-review p {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .btn-post-review,
  .btn-post-review:hover,
  .btn-post-review.active,
  .btn-post-review.disable {
    width: 400px;
  }
}

@media (min-width: 1200px) {
  .btn-post-review,
  .btn-post-review:hover,
  .btn-post-review.active,
  .btn-post-review.disable {
    width: 334px;
  }

  .btn-post-review p {
    font-size: 20px;
  }
}
