.navbar {
  margin: 0px;
  padding: 0px;
}

.main-nav {
  height: 70px !important;
  padding-top: 18px!important;
  padding-bottom: 18px !important;
}

.nav-logo-text h4,
.nav-logo-text:hover {
  display: flex;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -0.015em;
  color: #000000;
  margin-left: 18px;
}

.logout-button {
  border: 1px solid #000000;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.logout-button a{
  color: #000000;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: -0.015em;
  color: #000000;
}

@media (min-width: 576px) {
  .navbar {
    padding: 0px;
  }

  .main-nav {
    padding-left: 25px;
  }
}

@media (min-width: 768px) {
  .navbar {
    padding: 0px;
  }

  .main-nav {
    padding-left: 35px;
  }
}

@media (min-width: 1200px) {
  .navbar {
    padding: 0px;
  }

  .main-nav {
    padding-left: 50px;
  }

  .logout-button {
    margin-right: 35px;
  }
}