.container-fluid {
  margin: 0px;
  padding: 0px;
}

.navbar {
  padding: 0px, 0px;
}

.main-nav {
  min-height: 70px;
  padding-left: 18px;
  display: flex;
}

.nav-logo-text,
.nav-logo-text:hover {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -0.015em;
  color: #000000;
}

.logout-button {
  border: 1px solid #000000;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  margin-right: 15px;
  color: #000000;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: -0.015em;
  color: #000000;
}

@media (min-width: 576px) {
  .navbar {
    padding: 0px;
  }

  .main-nav {
    padding-left: 23px;
  }
}

@media (min-width: 768px) {
  .navbar {
    padding: 0px;
  }

  .main-nav {
    padding-left: 31px;
  }
}

@media (min-width: 1200px) {
  .navbar {
    padding: 0px;
  }

  .main-nav {
    padding-left: 50px;
  }

  .logout-button {
    margin-right: 35px;
  }
}
