.movie-list-container {
  padding: 20px 10px 20px 10px;
}

.row {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.movie-list {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.col-12 {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.col-sm-6 {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.col-md-6 {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.col-xl-3 {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

@media (min-width: 576px) {
  .movie-list-container {
    padding: 10px;
  }
}

@media (min-width: 768px) {
  .movie-list-container {
    padding: 25px;
  }
}

@media (min-width: 1200px) {
  .movie-list-container {
    padding: 40px 40px 40px 40px;
  }

  .movie-list {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-content: center;
    align-items: center;
  }
}

@media (min-width: 1400px) {
  .movie-list-container {
    padding: 40px 140px 40px 140px;
  }

  .movie-list {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-content: center;
    align-items: center;
  }
}
