.movie-list-container {
  padding: 12px 15px;
}

.movie-list-container h1 {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -0.015em;
  color: #ffffff;
  margin-bottom: 50px;
}

.movie-list p{
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.015em;
  color: #ffffff;
  margin-bottom: 12px;
}

@media (min-width: 1200px){
  .movie-list-container {
    padding: 40px;
  }
  
  .movie-list-container h1 {
    font-size: 48px;
    margin-bottom: 39px;
  }
  
  .movie-list p{
    font-size: 24px;
   margin-bottom: 27px;
  }


}

  
