button {
  margin: 0px;
}

.btn-logout,
.btn-logout:hover,
.btn-logout.active,
.btn-logout.disable {
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: #ffc700;
  width: 100px;
  height: 30px;
  margin-right: 20px;
  padding: 0px;
}

.btn-logout p {
  margin: 0px;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  align-content: center;
  justify-content: center;
  letter-spacing: -0.015em;
  color: #000000;
}

@media (min-width: 1200px) {
  .btn-logout,
  .btn-logout:hover,
  .btn-logout.active,
  .btn-logout.disable {
    margin-right: 35px;
  }
}
